.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  z-index: 10;
  /* border-bottom: 1px solid #eee; */
}
  
  .header-left{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .floating-header {
    border-radius: 50px;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* fondo glassmorphism */
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  }
  
  .floating-header button {
    flex: 1;
    text-align: center;
    border: none;
    outline: none;
    background: transparent;
    color: #6f0009;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 0 0.001rem;
  }
  
  .floating-header button:hover {
    background-color: #6f0009;
    color: white;
  }

.header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto; 
    padding-right: 2rem; 
}
.header-right .icon {
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}
  .logo {
    color: black;
    text-decoration: none;
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
  }
  
  .icon {
    font-size: 1.2rem;
    cursor: pointer;
    color: #6f0009;
    transition: transform 0.2s;
  }
  
  .icon:hover {
    transform: scale(1.1);
  }

  .navbar-container {
    position: fixed; /* o fixed si querés que siga al hacer scroll */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.5); /* Opcional: semitransparente */
    backdrop-filter: blur(6px); /* Opcional: efecto de difuminado detrás */
  }
  
