
.sidebar {

  position: fixed;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  transition: all 0.4s ease;
  z-index: 999;

  transition: transform 0.4s ease, opacity 0.4s ease;

  width: 60px;
  height: auto;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  border-radius: 50px;

  /* fondo glassmorphism */
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

/* ✅ ESTO VA FUERA del media query */
.sidebar button {
  /*background-color: rgba(255, 255, 255, 0.2);*/
  background : transparent;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(8px);
}

.sidebar button i {
  font-size: 1.4rem;
  color: #6f0009; /* ✅ color bordó base */
  transition: color 0.3s ease;
}

.sidebar i {
  font-size: 1.2rem;
  color: #6f0009;
}

.sidebar button:hover {
  background-color: #6f0009;
  transform: scale(1.1);
}



.sidebar button:hover i {
  color: white;
}

.sidebar.sidebar-stopped {
  position: absolute;
  top: auto;
  bottom: 100px; /* Se detiene arriba del footer */
}

.sidebar-hide {
  transform: translateY(-50%) translateX(-120%);
  opacity: 0;
  pointer-events: none;
}

.sidebar-toggle {
  position: fixed;
  bottom: 2rem;
  left: 1.5rem;
  background-color: #6f0009;
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 1000;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.sidebar-toggle:hover {
  background-color: #a30014;
}

.toggle-hide {
  transform: translateY(100px);
  opacity: 0;
  pointer-events: none;
}
  