.tarjetas-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 700px; 
  padding: 20px 0;
  overflow: hidden;
}


.tarjetas-card-container {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  gap: 30px;
  padding: 10px 0;
  width: 90%;
  scrollbar-width: none; 
}

.tarjetas-card-container::-webkit-scrollbar {
  display: none;
}

.card { 
  flex: 0 0 auto;
  width: 350px;
  height: 550px;
  scroll-snap-align: center;
  border-radius: 15px;
  overflow: hidden;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; 
  transition: transform 0.3s ease;
}

.card:hover {
  transform: none;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  position: absolute;
  bottom: 10px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 15px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  border-radius: 0 0 15px 15px;
}

.scroll-btn {
  position: absolute;
  top: 50%;
  background: #6f0009;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
  z-index: 10;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.scroll-btn:hover {
  background: rgba(0, 0, 0, 0.8);
  transform: scale(1.1);
}

.scroll-btn.left {
  left: 10px;
}

.scroll-btn.right {
  right: 10px;
}

@media (max-width: 768px) {
  .tarjetas-card-container {
    width: 100%;
  }
  .card {
    width: 280px;
    height: 440px;
  }
}
