.tarjetas-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 650px;
  padding: 20px 0;
  overflow: hidden;
}

.tarjetas-card-container {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  gap: 30px;
  padding: 10px 0;
  width: 90%;
  scrollbar-width: none;
}

.tarjetas-card-container::-webkit-scrollbar {
  display: none;
}

.card-button { 
  flex: 0 0 auto;
  width: 300px;
  height: 550px;
  scroll-snap-align: center;
  border-radius: 15px;
  overflow: hidden;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: transform 0.3s ease;
  border: none; 
  padding: 0; 
  cursor: pointer; 
}

.card-button:hover {
  transform: none;
}

.card-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.card-image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.card-image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6f0009;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1; 
}

.card-button:hover .card-image {
  opacity: 0.3;
}

.card-button:hover .card-image-container::before {
  opacity: 0.7;
}

.card-hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  color: rgb(255, 255, 255);
  font-size: 4em; 
  font-weight: bold;
  text-align: center;
  white-space: nowrap; 
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2; 
}

.card-button:hover .card-hover-text {
  opacity: 1; 
}

.card-title {
  position: absolute;
  bottom: 10px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 15px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  border-radius: 0 0 15px 15px;
  pointer-events: none;
}

.scroll-btn {
  position: absolute;
  top: 50%;
  background: none;
  color: #6f0009;
  border: none;
  cursor: pointer;
  font-size: 40px;
  width: auto;
  height: auto;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s, transform 0.2s;
  z-index: 10;
  backdrop-filter: none;
  box-shadow: none;
  padding: 0 15px;
}

.scroll-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  transform: scale(1.2);
  background: none;
}

.scroll-btn.left {
  left: 10px;
}

.scroll-btn.right {
  right: 10px;
}

@media (max-width: 768px) {
  .tarjetas-card-container {
    width: 100%;
  }
  .card-button {
    width: 280px;
    height: 440px;
  }
  .scroll-btn {
    font-size: 30px;
    padding: 0 10px;
  }
  .card-hover-text {
    font-size: 3em; 
  }
}